---
import Layout from '../layouts/Layout.astro';

const title = "QR Code Generator"
---

<Layout title={title}>
	<main class="min-h-screen grid place-content-center">
		<div class="bg-white rounded-2xl w-80 p-4 flex flex-col gap-4">
			<img id="qrcode" />
			<h1 class="text-2xl font-bold">{title}</h1>
			<form>
				<label class="block mb-2">
					Text
					<input name="text" class="w-full border-2 border-gray-300 rounded-md p-2">
				</label>
				<label class="block mb-2">
					Dark color
					<input type="color" name="dark" value="#000000" class="w-full" />
				</label>
				<label class="block mb-2">
					Light color
					<input type="color" name="light" value="#ffffff" class="w-full" />
				</label>
				<button class="w-full bg-blue-400 rounded-md p-2 text-white">Send</button>
			</form>
		</div>
	</main>
</Layout>

<script>
	const form = document.querySelector("form");
	form?.addEventListener("submit", function(e){
		e.preventDefault();    //stop form from submitting
		const text = e.target[0].value;
		const dark = e.target[1].value;
		const light = e.target[2].value;

		fetch("api/generate-qr", {
			method: "POST",
			body: JSON.stringify({ text, dark, light }),
			headers: {
				"Content-Type": "application/json"
			}
		})
		.then((res) => res.json())
		.then((data) => {
			const { svg } = data;
			const qrcode = document.querySelector("#qrcode");
			qrcode.src = 'data:image/svg+xml;base64,' + btoa(svg);
		});
	});
</script>